body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'montserrat', sans-serif;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    background-color: #000000;  
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    scroll-snap-align: start;
    background-color: #000000;
    position: relative;  
}


.section-title {
    position: absolute;
    left: 20px; /* Define 20px de afastamento da borda esquerda */
    color: white;
    text-align: left; /* Alinha o texto à esquerda */
    z-index: 1;
}


.bold-text {
    font-weight: bold;
}

.main-title {
    top: 20px;
    font-weight: normal;
    font-size: 2em;
    color: white;
}

.sub-title {
    font-size: 2em;
    top: 80px;
    font-weight: normal;
    line-height: 1.4;
}

.line-1 {
    display: block; /* Faz a primeira linha ficar em um bloco separado */
}

.line-2 {
    display: block; /* Faz a segunda linha ficar em um bloco separado */
    margin-top: 10px; /* Distância entre as duas linhas */
}


.carousel-container {
    display: flex;
    gap: 20px;
    padding: 80px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
    
}

.carousel-container::-webkit-scrollbar {
    display: none; /* Esconde a barra de rolagem */
}

.video-thumbnail {
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.7;
    scroll-snap-align: center;
}

.carousel-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    display: none; /* Inicialmente invisível */
    z-index: 1000;
    white-space: normal; /* Impede a quebra de linha */
    text-align: center;
    font-style: italic; /* Adiciona itálico */
}

/* Ajusta o estilo para telas pequenas */
@media screen and (max-width: 600px) {
    .carousel-message {
        width: 100%; /* Ocupa 100% da largura da tela */
        font-size: 16px; /* Ajusta o tamanho da fonte se necessário */
    }
}


/* Ajustes de estilo para o rodapé */
#copyright-footer {
    width: 100%;
    font-size: 12px; /* Tamanho base */
    background-color: #000000;
    padding: 10px 20px;
    color: #aaa; /* Cor neutra e discreta */
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.store-badges {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.store-badges img {
    width: 150px;
    height: auto;
}

.social-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    top: 10;
    background-color: #000000; /* Fundo preto para combinar com o rodapé */
    position: relative; /* Posição relativa para ficar acima do rodapé */
}

.social-icon-link {
    display: inline-block;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.social-icon {
    width: 40px; /* Tamanho padrão dos ícones */
    height: auto;
    transition: opacity 0.3s ease;
}

.social-icon-link:hover .social-icon {
    opacity: 0.7; /* Leve destaque ao passar o mouse */
}

@media screen and (max-width: 768px) {
    .carousel-container {
        padding: 20px;
    }
}


@media screen and (max-width: 768px) {
    .social-icon {
        width: 30px; /* Ícones menores em telas menores */
    }
}

@media screen and (max-width: 480px) {
    .social-icon {
        width: 25px; /* Ícones ainda menores para celulares */
    }
}


@media (max-width: 768px) {
    #copyright-footer {
        font-size: 10px; /* Reduz o tamanho da fonte em telas menores */
    }
}

@media screen and (max-width: 320px) {
    .store-badges img {
        width: 100px;
    }
}

@media screen and (max-width: 390px) {
    .store-badges img {
        width: 120px;
    }
}

@media screen and (min-width: 1366px) {
    .store-badges img {
        width: 150px;
    }
}
